<div class="container">
<h1>Ask a Question </h1>
<%=render 'layouts/errors', object: @question %>
<%= form_for [@user, @question] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body, :rows => 6 %>
  <%= f.submit  %>
<% end %>
</div>
